body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;

    background-color: #22272e;
    color: #adbabd;

}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
    box-sizing: border-box;
}

.header {
    padding-top: 10px;
    text-align: center;
    font-size: 32px;
}

#graph {
    margin-top: 25px;
    margin-left: 25px;
    padding: 10px;
    color: black;
    width: 95vw;
    min-height: 75vh;
    border: 2px solid white;
    padding: 0;
    line-height: 0;
}

.graph-node {
    width: 20px;
    height: 20px;
    background-color: #d0dde0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    margin: 0px;
    padding: 0px;
    transition: 2s;
}

.graph-node-green {
    background-color: #00FF00;
}

.graph-node-red {
    background-color: #FF0000;
}

.graph-node-block {
    background-color: #000000;
}

.graph-node-start {
    background-color: #FF00FF;
}

.graph-node-end {
    background-color: #FFFF00;
}



.graph-node:hover {
    background-color: #56c9e2;
}